body {
  a {
    box-shadow: inset 0 0 0 0 rosybrown;
    color: white;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;

  }

  a:hover {
    box-shadow: inset 150px 2px 2px 2px rosybrown;
    color: white;
  }

  .btn-header {
    border: 3px solid white;
  }

  .btn-header:hover, .circled:hover, .btn-long:hover {
    border: 3px solid rosybrown;
    background: white;
  }
}

$black: black;
$light-black: #181818;
$white: #FFFF;
$white-text: #C0C0C0;
$border-button: 14px;

header {
  background-color: $light-black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.btn-header {
  font-size: 16px;
  padding: 11px 20px 13px;
  letter-spacing: 0.4px;
  color: $black;
  background: $white;
  border-radius: 14px;
  min-width: 155px;
}

.header-flex {
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
  justify-content: space-between;
  height: 90px;

}

.header-links {
  align-items: center;
  gap: 32px;
  font-size: 15px;
  color: $white;
  display: none
}

.hamburger {
  cursor: pointer;
  position: absolute;
  right: 20px;
  float: right;
}

.hamburger-line {
  background: $white;
  display: block;
  height: 2px;
  position: relative;
  z-index: 1;
  width: 24px;
}

.hamburger-line::before, .hamburger-line::after {
  background: $white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamburger-line::before {
  top: 5px;
}

.hamburger-line::after {
  top: -5px;
}

.side-menu{
  display: none;
}

.side-menu:checked ~ .header-links {
  display: flex;
  height: 100vh;
  background: $light-black;
  flex-direction: column;
  position: absolute;
  width: 100%;
  right: 0;
  top: 89px;
}


.side-menu:checked ~ .hamburger .hamburger-line {
  background: $light-black;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamburger .hamburger-line::after {
  transform: rotate(45deg);
  top: 0;
}


@media (min-width: 912px) {

  .hamburger {
    display: none;
  }
  .header-links a:first-child {
    margin-right: 24px;
    font-size: 13px;
  }

  .header-links {
    display: flex;
    position: relative;
    padding-top: 0;
    height: auto;
    width: auto;
    background: none;
    flex-direction: row;
    top: 0;
  }
}

