@import "base";

$black: black;
$light-black: #181818;
$white: #FFFF;
$white-text: #C0C0C0;
$border-button: 14px;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

a, button {
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 133%;
  background: $black;
  color: $white-text;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
}

header {
  background-color: $light-black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header {
  .header-flex {
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-between;
    height: 90px;
  }

  .header-links a:first-child {
    margin-right: 24px;
    font-size: 13px;
  }

  .header-links {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 15px;
    color: $white;

    .header-links .btn {
      min-width: 155px;
    }

    .btn {
      font-size: 16px;
      padding: 11px 20px 13px;
      letter-spacing: 0.4px;
      color: $black;
      border-radius: 14px;
    }

    .btn-header {
      background: $white;
    }
  }
}

body {
  @media (max-width: 750px) {
    .container {
      padding: 0 5px;
    }
  }
}

.sec4 {
  background: url("./img/bgsec-4.svg");
  width: 100%;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .sec4-content {
    height: 545px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 46px;

  }

  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    line-height: 143%;
    color: $white-text;
  }

  .svg-position {
    padding: 0 45px 45px 0;
  }
}

.sec-6 {
  .sec6-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sec6-part1 {
    max-width: 600px;
    padding: 60px 46px 40px 100px;
  }

  h2 {
    padding: 0 0 6px 0;
    margin: 0;
    color: $white-text;

  }

  h3 {
    color: $white;
    font-size: 28px;
    line-height: 114%;
    padding-bottom: 14px;
  }

  p {
    color: $white;
    font-size: 14px;
    line-height: 142%;
    padding-bottom: 20px;
  }

  .circled {
    margin: 0;
    min-width: 152px;
    padding: 5px 10px 5px 4px;
    font-size: 16px;
    line-height: 125%;
    background: $white;
  }

  .sec6-part2 img {
    min-width: 100%;
    min-height: 100%;
  }

  .svg-position {
    padding: 0 45px 0 0;
    position: relative;
    bottom: 60px;
  }

}

.sec-5 {
  background: $black;

  .sec5-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 108px;
    padding-top: 113px;
  }

  .sec5-flex h1 {
    color: $white;
    font-size: 40px;
    line-height: 105%;
    max-width: 571px;
    text-align: center;
  }

  .sec5-flex p {
    font-size: 24px;
    max-width: 224px;
    line-height: 125%;
    padding-bottom: 7px;
  }

  .circled {
    margin: 0;
    width: 154px;
    font-size: 16px;
    line-height: 125%;
    background: $white;
  }
}

.footer {
  background: $black;
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px 0;
}

.footer-part1, .footer-part2, .footer-part3 {
  display: flex;
  color: white;
  justify-content: space-between;

}

.logo {
  display: inline-flex;
  padding: 0 18px 129px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 460px;
  color: $white-text;
  font-size: 13px;
  line-height: 154%;
  margin-right: 252px;
}

.bs-areas {
  color: $white;
  flex-direction: column;
  gap: 10px;
  display: inline-flex;
  padding: 0 39px 60px 0;
  align-items: flex-start;
  max-height: 200px;
  max-width: 220px;
  margin-right: 16px;

}

.pages {
  color: $white;
  flex-direction: column;
  gap: 10px;
  display: inline-flex;
  align-items: flex-start;
  max-height: 200px;
  max-width: 220px;
  margin-right: 101px;
}


.bs-areas span:first-child, .pages span:first-child, .part2-text p:first-child {
  color: $white-text;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

hr {
  min-width: 100%;
  min-height: 2px;
  border-bottom: 2px solid $white;
  margin: 36px 0;
}

.footer-part2 {

  align-items: center;
}


.part2-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: $white-text;
  font-size: 13px;
  line-height: 154%;
}

.part2-text p:first-child {

  color: $white;
  margin-bottom: 20px;
}

.btn-long {
  width: 458px;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  background: #F9FAFB;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-long:after {
  content: "";
  background: url("./img/btn-long.png");
  margin-right: 6px;
  width: 63px;
  height: 30px;


}

.part3-text {
  max-width: 694px;
  height: 24px;
  color: $white-text;
  font-style: normal;
  line-height: 143%;
}

.svg-media {
  display: flex;
  max-width: 112px;
  max-height: 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.footer {
  @media(max-width: 965px) {
    .logo {

      max-width: 400px;
    }
    .btn-long {
      max-width: 350px;
    }
    .pages {
      margin: 0;
    }
  }
  @media(max-width: 850px) {
    .logo {
      margin: 0 58px 0 0;
    }
  }
  @media (max-width: 630px) {
    .btn-long {
      max-width: 200px;
    }
  }
}

.sec-6 {
  @media(max-width: 1024px) {
    .sec6-part1 {
      padding: 40px 60px;
      max-width: 450px;
    }
  }

  @media (max-width: 850px) {
    .sec6-flex {
      flex-direction: column;
    }
    .sec6-part1 {
      padding: 40px 10px;
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 576px) {
  .sec1{
    margin: 0;
    .sec1-flex p:first-child{
    padding-top: 341px;
  }
    .sec1-flex p:last-child{
      padding: 0 10px;
      text-align: left;
    }
    .svg-position{
      padding: 14px 25px 41px;
    }
  }
  .sec2 {
   .sec2-content p {
     font-size: 17px;
   }

   .card {
     padding: 0 0 30px 10px;
   }
 }
  .sec4 {
    .sec4-content {
      margin: 0;
    }
  }
  .sec6-part1 p{
    text-align: left;
  }

  .footer-part1 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 7px;

    .logo, .bs-areas, .pages {
      margin: 0;
      padding-bottom: 30px;
    }

    .logo p {
      max-width: 250px;
    }
  }
  .footer-part2 {
    .part2-text {
      padding-left: 10px;
      max-width: 180px;
    }

    .btn-long {
      max-width: 122px;
    }
  }
  .footer-part3 {
    .part3-text {
      padding-left: 10px;
      max-width: 245px;
    }
  }
}


