body a {
  box-shadow: inset 0 0 0 0 rosybrown;
  color: white;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
body a:hover {
  box-shadow: inset 150px 2px 2px 2px rosybrown;
  color: white;
}
body .btn-header {
  border: 3px solid white;
}
body .btn-header:hover, body .circled:hover, body .btn-long:hover {
  border: 3px solid rosybrown;
  background: white;
}

header {
  background-color: #181818;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.btn-header {
  font-size: 16px;
  padding: 11px 20px 13px;
  letter-spacing: 0.4px;
  color: black;
  background: white;
  border-radius: 14px;
  min-width: 155px;
}

.header-flex {
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
  justify-content: space-between;
  height: 90px;
}

.header-links {
  align-items: center;
  gap: 32px;
  font-size: 15px;
  color: white;
  display: none;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  right: 20px;
  float: right;
}

.hamburger-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  z-index: 1;
  width: 24px;
}

.hamburger-line::before, .hamburger-line::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamburger-line::before {
  top: 5px;
}

.hamburger-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ .header-links {
  display: flex;
  height: 100vh;
  background: #181818;
  flex-direction: column;
  position: absolute;
  width: 100%;
  right: 0;
  top: 89px;
}

.side-menu:checked ~ .hamburger .hamburger-line {
  background: #181818;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamburger .hamburger-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 912px) {
  .hamburger {
    display: none;
  }
  .header-links a:first-child {
    margin-right: 24px;
    font-size: 13px;
  }
  .header-links {
    display: flex;
    position: relative;
    padding-top: 0;
    height: auto;
    width: auto;
    background: none;
    flex-direction: row;
    top: 0;
  }
}
@media (max-width: 965px) {
  .footer .logo {
    max-width: 400px;
  }
  .footer .btn-long {
    max-width: 350px;
  }
  .footer .pages {
    margin: 0;
  }
}
@media (max-width: 850px) {
  .footer .logo {
    margin: 0 58px 0 0;
  }
}
@media (max-width: 630px) {
  .footer .btn-long {
    max-width: 200px;
  }
}

@media (max-width: 912px) {
  .sec-6 .sec6-flex {
    flex-direction: column;
  }
  .sec-6 .sec6-flex .sec6-part1 {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .sec-6 .sec6-flex .sec6-part2 {
    padding-top: 10px;
    width: 100%;
  }
  .sec-6 .sec6-flex img {
    max-height: 500px;
  }
}
@media (max-width: 576px) {
  .sec1 {
    margin: 0;
  }
  .sec1 .sec1-flex p:first-child {
    padding-top: 341px;
  }
  .sec1 .sec1-flex p:last-child {
    text-align: left;
  }
  .sec1 .svg-position {
    padding: 14px 25px 41px;
  }
  .sec2 .card-wrapper {
    padding: 0;
    gap: 10px;
  }
  .sec2 .card {
    padding: 0 0 30px 5px;
  }
  .sec6-part1 p {
    text-align: left;
  }
  .footer-part1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-part1 .logo, .footer-part1 .bs-areas, .footer-part1 .pages {
    margin: 0;
    padding-bottom: 30px;
  }
  .footer-part1 .logo p {
    max-width: 250px;
  }
  .footer-part2 .part2-text {
    max-width: 180px;
  }
  .footer-part2 .btn-long {
    max-width: 122px;
  }
  .footer-part3 .part3-text {
    margin-bottom: 30px;
    max-width: 245px;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

a, button {
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 133%;
  background: black;
  color: #C0C0C0;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (max-width: 1280px) {
  body .container {
    padding: 10px;
  }
  body .container-1 {
    padding: 0 10px;
  }
}

.sec4 {
  background: url("./img/bgsec-4.svg");
  width: 100%;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.sec4 .sec4-content {
  height: 545px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 46px;
}
.sec4 h2 {
  margin: 0;
  padding: 0;
}
.sec4 p {
  line-height: 143%;
  color: #C0C0C0;
}
.sec4 .svg-position {
  padding: 0 45px 45px 0;
}

.sec-6 {
  position: relative;
}
.sec-6 .sec6-flex {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-6 .sec6-part1 {
  width: 50%;
  padding: 0 100px;
}
.sec-6 h2 {
  padding: 0 0 6px 0;
  margin: 0;
  color: #C0C0C0;
}
.sec-6 h3 {
  color: white;
  font-size: 28px;
  line-height: 114%;
  padding-bottom: 14px;
}
.sec-6 p {
  color: white;
  font-size: 14px;
  line-height: 142%;
  padding-bottom: 20px;
  max-width: 514px;
}
.sec-6 .circled {
  margin: 0;
  min-width: 152px;
  padding: 5px 10px 5px 4px;
  font-size: 16px;
  line-height: 125%;
  background: white;
}
.sec-6 .sec6-part2 {
  position: relative;
  width: 50%;
}
.sec-6 .sec6-part2 img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}
.sec-6 .svg-position {
  padding: 0 45px 0 0;
  position: relative;
  bottom: 60px;
}

.sec-5 {
  background: black;
}
.sec-5 .sec5-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 108px;
  padding-top: 113px;
}
.sec-5 .sec5-flex h1 {
  color: white;
  font-size: 40px;
  line-height: 105%;
  max-width: 571px;
  text-align: center;
}
.sec-5 .sec5-flex p {
  font-size: 24px;
  max-width: 224px;
  line-height: 125%;
  padding-bottom: 7px;
}
.sec-5 .circled {
  margin: 0;
  width: 154px;
  font-size: 16px;
  line-height: 125%;
  background: white;
}

.footer {
  background: black;
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px 0;
}

.footer-part1, .footer-part2, .footer-part3 {
  display: flex;
  color: white;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  padding: 0 18px 129px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 460px;
  color: #C0C0C0;
  font-size: 13px;
  line-height: 154%;
  margin-right: 252px;
}

.bs-areas {
  color: white;
  flex-direction: column;
  gap: 10px;
  display: inline-flex;
  padding: 0 39px 60px 0;
  align-items: flex-start;
  max-height: 200px;
  max-width: 220px;
  margin-right: 16px;
}

.pages {
  color: white;
  flex-direction: column;
  gap: 10px;
  display: inline-flex;
  align-items: flex-start;
  max-height: 200px;
  max-width: 220px;
  margin-right: 101px;
}

.bs-areas span:first-child, .pages span:first-child, .part2-text p:first-child {
  color: #C0C0C0;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

hr {
  min-width: 100%;
  min-height: 2px;
  border-bottom: 2px solid white;
  margin: 36px 0;
}

.footer-part2 {
  align-items: center;
}

.part2-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #C0C0C0;
  font-size: 13px;
  line-height: 154%;
}

.part2-text p:first-child {
  color: white;
  margin-bottom: 20px;
}

.btn-long {
  width: 458px;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  background: #F9FAFB;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-long:after {
  content: "";
  background: url("./img/btn-long.png");
  margin-right: 6px;
  width: 63px;
  height: 30px;
}

.part3-text {
  max-width: 694px;
  height: 24px;
  color: #C0C0C0;
  font-style: normal;
  line-height: 143%;
}

.svg-media {
  display: flex;
  max-width: 112px;
  max-height: 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

/*# sourceMappingURL=main.css.map */
