.footer {
  @media(max-width: 965px) {
    .logo {
      max-width: 400px;
    }
    .btn-long {
      max-width: 350px;
    }
    .pages {
      margin: 0;
    }
  }
  @media(max-width: 850px) {
    .logo {
      margin: 0 58px 0 0;
    }
  }
  @media (max-width: 630px) {
    .btn-long {
      max-width: 200px;
    }
  }
}


@media (max-width: 912px) {
  .sec-6 {
    .sec6-flex {
      flex-direction: column;

      .sec6-part1 {
        padding: 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

      .sec6-part2 {
        padding-top: 10px;
        width: 100%;
      }

      img {
        max-height: 500px;
      }
    }
  }
}

@media (max-width: 576px) {
  .sec1 {
    margin: 0;

    .sec1-flex p:first-child {
      padding-top: 341px;
    }

    .sec1-flex p:last-child {
      text-align: left;
    }

    .svg-position {
      padding: 14px 25px 41px;
    }
  }
  .sec2 {
    .card-wrapper {
      padding: 0;
      gap: 10px;
    }

    .sec2-content p {
    }

    .card {
      padding: 0 0 30px 5px;
    }
  }

  .sec6-part1 p {
    text-align: left;
  }
  .footer-part1 {
    flex-direction: column;
    align-items: flex-start;

    .logo, .bs-areas, .pages {
      margin: 0;
      padding-bottom: 30px;
    }

    .logo p {
      max-width: 250px;
    }
  }

  .footer-part2 {
    .part2-text {
      max-width: 180px;
    }

    .btn-long {
      max-width: 122px;
    }
  }
  .footer-part3 {
    .part3-text {
      margin-bottom: 30px;
      max-width: 245px;
    }
  }
}
